{% if site.root.email %}<a href="mailto:{{ site.root.email }}"><i class="icon-envelope icon-2x"></i></a>{% endif %}
{% if site.root.github %}<a target="_blank" href="https://github.com/{{ site.root.github }}"><i class="icon-github icon-2x"></i></a>{% endif %}
{% if site.root.instagram %}<a target="_blank" href="https://instagram.com/{{ site.root.instagram }}"><i class="icon-instagram icon-2x"></i></a>{% endif %}
{% if site.root.rss %}<a target="_blank" href="{{ site.baseurl }}/{{ site.root.rss }}"><i class="icon-rss icon-2x"></i></a>{% endif %}