<!DOCTYPE html>
<html>

    {% include head.html %}

  <body>

    <div class="intro-header">
        <div class="wrapper-masthead">
         <div class="container">
           <header class="masthead clearfix">
             <div class="site-info">
               <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
               <p class="site-description">{{ site.description }}</p>
             </div>
             <nav>
               <a href="{{ site.baseurl }}/">博客</a>
               <a href="{{ site.baseurl }}/about">关于</a>
             </nav>
             <div class="fork-me-wrapper">
                 <div class="fork-me">
                   <a class="fork-me-link" href="https://github.com/SongRanMark/SRMModalViewController">
                   <span class="fork-me-text">iOS模态弹出框工具</span>
                   </a>
             </div>
           </header>
         </div>
       </div>

        <div class="container">
            <div class="space-small"></div>

            <div class="centered">
              <ul class="ch-grid">
                <li>
                    <div class="ch-item">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <h3>{{site.root.name}}</h3>
                                    <p></br><a href="http://www.jianshu.com/users/{{ site.root.jianshu }}">我的简书</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

             <div class="space-medium"></div>

        </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>